/* Recuerda configurar todo de manera global, pasar a unidades REM */

.cards__card {
  position: relative;
  width: 300px;
  border: 3px solid rgba(15,11,86,.5);
}

.card__button{
  background-color: red;
  position: absolute;
  top:-18px;
  right: -15px;
}

.card__image{
  width: 100%;
  /* border-radius: 50px; */

}

.card__name {
  width: 55%;
  padding: 5px;
  position: absolute;
  bottom: 55px;
  left: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(15,11,86,.8);
  text-align: center;
  color: #fff;

}

.card__description {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */

}